.wrapper{
    margin: 0 .6rem;
    .list{
        display:block;
        div{
            margin-left: auto;
            margin-right: auto;
            float:left;
        }
    }
}

.loader{
    border-radius: 100%;
    border-top:5px solid #000;
    border-left:5px solid #000;
    border-right:5px solid #000;
    border-bottom:5px solid #fff;
    height: 100px;
    width: 100px;
    margin:auto;
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .wrapper{
      .list{
          div{
              width:50%;
          }
      }
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .wrapper{
      .list{
          div{
              width:33%;
          }
      }
    }
  } 